@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 5% 10%;
    font-size: 1.6rem;
    font-family: "roboto" sans-serif;
}

ol {
    list-style-type: lower-alpha;
    padding: 0;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    color: #00F;
    line-height: 1.6;
    list-style-image: url("./images/checkmark.png");
    list-style: square url("./images/checkmark.png") inside;
}

ul li:nth-child(even) {
    color: red;
}

ul ::marker {
    color: red;
    font-family: fantasy;
    font-size: 1em;
    /* content: "Only $5 >> "; */
}