/* visit https://coolors.co/contrast-checker/333333-ffefd5 for color contrast checker */

body{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    background: #ffefd5;
    color: #000000;
}

p {
    /* color: rgba(0, 0, 0, 0.5) the 0.5 is the a (alpha) meaning the black is 50% transparent */
    color: #333;
}
/*the property value of the p tag is a hex code*/
