* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.child {
    border-radius: 200px;
    width: 30px;
    height: 200px;
    background-color: #0011ff;
}

.child1 {
    position: absolute;
    border-radius: 200px;
    width: 200px;
    height: 30px;
    background-color: #0011ff;
}

.parent {
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: red;
    border: 2em solid rgb(255, 251, 0);
}

.inner-child {
    display: flex;
    width: 320px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px black solid;
    border-radius: 200px;
}