/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.square {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
}

.rectangle {
    width: 200px;
    height: 100px;
    background-color: red;
    margin: 10px;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50px;
    margin: 10px;

}

.oval {
    height: 100px;
    width: 200px;
    background-color: red;
    border-radius: 100px/ 50px;
    margin: 10px;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    margin: 10px;

}


.triangle-down {
    height: 0;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px red solid;
    margin: 10px;
}

/* .cross {
    background: red;
    height: 100px;
    width: 20px;
    position: relative;
    margin-left: 45px ;
}

.cross:after {
  background: red;
  content: "";
  height: 20px;
  width: 100px;
  position: absolute;
  left: -40px;
  top: 40px;
} */

.cross {
    height: 150px;
    width: 20px;
    background: red;
    margin-left: 45px;
    position: relative;
}

.cross::after {
    content: "";
    height: 20px;
    width: 100px;
    background: red;
    position: absolute;
    top: 40px;
    left: -40px;
}

.cross1 {
    height: 100px;
    width: 20px;
    margin: 45px;
    background: red;
    position: relative;
}

.cross1::after {
    content: "";
    width: 100px;
    height: 20px;
    background: red;
    position: absolute;
    top: 40px;
    left: -40px;
}

.cross2 {
    height: 100px;
    width: 20px;
    background: rgb(255, 166, 1);
    margin: 45px;
    position: relative;
}

.cross2::after {
    content: "";
    width: 100px;
    height: 20px;
    position: absolute;
    background: rgb(255, 166, 1);
    top: 40px;
    left: -40px;
}