@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-family: "Roboto" sans-serif;
    font-size: 1.5rem;
}

.columns {
    /*The code below means that the elements in p tag should be divided into
    4 with each width being 250px if only there is an available screen width
    of 1000px for the four*/
    /* column-count: 4; */
    /* column-width: 250px; */
    column-rule: 3px solid #333;
    column-gap: 3rem;
    /* shorthand */
    columns: 4 250px;
}

.columns p {
    margin-top: 0;
}

.columns h2 {
    margin-top: 0;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.columns .quote {
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
    color: #333;
    column-span: all;
}

.nowrap {
    white-space: ;
}















.column {
    column-count: 3;
    column-width: 125px;
    column-rule: #333 3px solid;
    break-inside: avoid;
}