body {
    margin: 0;
    padding: 0;
    background: #fffc56;
    font-family: poppins;
}

.wrapper {
    padding: 5px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
}

header {
    padding: 0 15px;
    text-align: center;
    font-size: 21px;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.column {
    flex: 1;
    border: 1px solid #666;
    margin: 2px;
    padding: 10px;
    background: #3af4d5;
    transition: .3s;
}

.column:first-child {
    margin-left: 0;
    background: #ff307f;
}
.column:last-child {
    margin-left: 0;
    background: #7f95d1;
}

 @media screen and (max-width: 980px) {
    .columns .column {
        margin-bottom: 5px;
        flex-basis: 50%;
    }
    .columns .column {
        flex-basis: 100%;
        margin: 0;
    }
    .columns .column:nth-last-child(2) {
        margin-right: 0;
    }
}