

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

body::after {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(#ff0000, #ff3);
    z-index: 99;
    position: absolute;
    clip-path: circle(30% at right 70%);
}

body::before {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(#d400ff, #0004ff);
    position: absolute;
    z-index: 99;
    clip-path: circle(15% at left 14%);
}

.parent {
    margin: 0 auto;
    font-size: 2rem;
    background-color: rgb(0, 140, 255);
    padding: 0.7rem;
    position: relative;
    margin: 3rem;
    width: 270px;
}

.child:nth-child(1) {
    background-color: rgb(73, 255, 73);
    height: 40px;
    /* width: 550px; */
    padding: 0.5rem;
}
.child:nth-child(2) {
    background-color: rgb(255, 74, 61);
    height: 40px;
    padding: 0.5rem;
}
.child:nth-child(3) {
    background-color: rgb(255, 69, 162);
    height: 40px;
    padding: 0.5rem;
}

/* .child-one {
    position: absolute;
    top: 0;
    right: -10;
} */