@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0.5rem;
    text-align: center;
    font-family: 'roboto' sans-serif;
}

nav {
    font-size: 3rem;
    line-height: 6.4rem;
    margin: 0 auto 1.2rem;
    max-width: 490px;
    border: 2px solid #333;
    border-radius: 2rem;
}

.text {
    color: blue;
    font-family: 'Rubik Bubbles', cursive;
}

.container {
    display: flex;
    margin: 0 auto;
    background-color: rgb(21, 255, 0);
    border-radius: 1.8rem 1.8rem 0 0;
    box-shadow:  23px 23px 46px #006600,
             -23px -23px 46px #00ff00;
}

.container h2 {
    padding-left: 1.4rem;
    font-family: 'PT Sans', sans-serif;
}

/* h2 {
    background-color: rgb(124, 255, 2);
    border-radius: 1.8rem 1.8rem 0 0;
    padding: 1rem;
    color: white;
} */

ul {
    /* box-shadow:  23px 23px 46px #666666,
             -23px -23px 46px #ffffff; */
    list-style-type: none;
}

li {
    border-top: 4px double #333;
}

li a {
    display: block;
}

li a,
li a:visited {
    text-decoration: none;
    color: blue;
}

li a:hover,
li a:focus {
    background-color: #333;
    color: #fff;
}

li:last-child a {
    border-radius: 0 0 1.8rem 1.8rem;
}

p {
    font-size: 1.3rem;
}

p a,
p a:visited
{
    text-decoration: none;
    color: none;
}

p a {
    /* display: block; */
}

p a {
    border-radius: 54px;
    background: #00ff00;
    box-shadow:  23px 23px 46px #006600,
                -23px -23px 46px #00ff00;
}

.ri-cup-line {
    font-size: 0.8em;
    color: rgb(185, 0, 0);
    padding: 0 0 0 1rem;
}