* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto 2rem;
    max-width: 650px;
    /* min-height: 100vh; */
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 auto 2rem;
    margin: 0 auto 2rem;
    background: lightgray;
    /* height: 280px; */
    width: 500px;
    border-radius: 1.9rem;
    /* border: 0.9px solid #ffffff; */
    /* outline: 4px solid rgb(0, 0, 0); */
}

.header {
    text-align: center;
    display: inline-block;
    margin: 0 auto 0rem;
    background-color: rgb(255, 0, 0);
    padding: 0.5em;
    font-size: 1.3em;
    border-radius: 1.8rem 1.8rem 0 0 ;
    width: 500px;

}

.image {
    background-image: url("./tobi.jpg");
    background-position: center;
    width: 100px;
    height: 100px;
}

p {
    font-size: 1.6rem;
    display: inline;
    float: right;
}

ul {
    list-style-type: none;
}

.title {
    display: inline-block;
    background-color: rgb(255, 0, 0);
    padding: 1.1rem;

}

ul {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

li {
    font-size: 1.1em;
    padding: 0.1rem;
    /* display: inline-flex; */
    flex-direction: row;
    background-color: rgb(240, 255, 36);
    border-top: 2px solid rgb(0, 19, 194);

}

.exp {
    margin: 0 auto;
    display: inline-flex;
    width: inherit;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 47, 250);
    border-radius: 0 0 2rem 2rem;
    color: #fff;
    padding: 0.5rem;
    border: 0 0 3px 3px solid rgb(235, 235, 235);
}

.exp-text{
    font-size: 1.3rem;
    text-align: center;
}

