@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*

Typography is the way that text is arranged and presented

*/



body {
    padding: 10%;
    font-size: 1.7rem;
    font-family: 'Roboto', sans-serif;;
}

/* input, button {
    font: inherit;
} */

p {
    line-height: 1.5;
    word-spacing: 0.1em;

}