@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

main {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

div {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  display: grid;
  place-content: center;
}

div:first-child {
    background-color: dodgerblue;
    /* transform: translateX(-50%); */
    /* transform: rotateX(180deg); */
    /* transform: scaleX(120%); */
    /* transform: skewX(-10deg); */
}

div:nth-child(2) {
    background-color: yellow;
    /* transform: translateY(-2rem); */
    /* transform: rotateY(180deg); */
    /* transform: scaleY(120%); */
    /* transform: skewY(10deg); */
}
div:last-child {
    background-color: lime;
    /* transform: translate(100%, -5rem); */
    /* transform: rotateZ(78deg); */
    /* transform: scale(50%, 50%); */
    /* transform: skew(-10deg, -10deg); */
}

div:hover {
    background-color: midnightblue;
    /* transition-property: background-color, transform;
    transition-duration: 2s, 3s;
    transition-timing-function: linear;
    transition-delay: 0.2s; */
    transition: all 2s ease-in-out 0.5s;
}

div:last-child:hover {
  transform: rotate(180deg);
}