@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

main {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

div {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  display: grid;
  place-content: center;
}

div:first-child {
    background-color: dodgerblue;
}

div:nth-child(2) {
    background-color: yellow;
}

div:nth-child(3) {
    background-color: lime;
}

div:last-child {
  background-color: #ff3636;
}

div:hover {
    background-color: midnightblue;
    transition: all 3s linear .5s;
}

div:last-child:hover {
    transform: rotate(180deg);
}

.animate {
  /* animation-name: slide;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: 5;
  animation-direction: normal;
  animation-fill-mode: forwards; */
  animation: 5s ease-in-out 1s 2 normal forwards slide;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(300px) rotate(180deg);
  }
  66% {
    transform: translateX(-300px) rotate(-180deg);
  }
  100% {
    transform: translateX(0);
    background-color: rebeccapurple;
  }
}

.animatenew {
  animation-delay: 1s;
  animation: 3s ease-in-out normal forwards animation;
}

@keyframes animation {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(300px) rotate(180deg);
  }
  67% {
    transform: translateX(-300px) rotate(-180deg);
  }
  100% {
    transform: translateX(0);
    background-color: blanchedalmond;
  }
}
